/* For all your custom CSS rules */

header, footer {
  text-align: center;
  background-color: #0cf;
}

nav {
  height: 40px;
}

header {
  min-height: 460px;
  background-color: #0cf;
  color: white;
  background: url('/img/container_park_beer_fest.jpeg') no-repeat center top fixed;
  background-size: cover;
}

header > div {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

header h1, section h2 {
  font-family: "Forgotten Futurist Shadow", sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

header h1 {
  margin-top: 60px;
  color: #fffe9c;
  font-size: 80px;
}

header h1 small {
  font-family: "Forgotten Futurist", sans-serif;
  font-size: 25px;
  color: #fff;
}

header p {
  font-size: 20px;
  margin-bottom: 10px;
}

header .date {
  font-weight: bold;
  margin-bottom: 20px;
}

#what, #location {
  min-height: 300px;
}

#what {
  background-color: #d4aa00;
  color: white;
}

#what h2 {
  margin-top: 30px;
  color: white;
}

#what img {
  margin-bottom: 10px;
}

#beer {
  background-color: #0cf;
}

#beer h2 {
  float: none;
}

#follow {
  min-height: 310px;
  background-color: #000080;
}

footer {
  color: white;
  background-color: #333;
}
footer p {
  height: 20px;
  font-size: 12px;
}
